/* colors */
/* font size */
/* margins & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Lato", sans-serif; }

.btn {
  text-decoration: none;
  padding: 2em 6em; }
  .btn-transparent {
    background: transparent; }

.header-links, .simple-links {
  text-decoration: none; }
