/* colors */

$background-color: #FFFFFF;
$background-color-second: #DFDFDF;
$main-text-color: #202020;
$main-text-color-light: #404040;
$blue-color-dark: #568EA3;
$blue-color-light: #68C3D4;
$red-color-dark: #E83030;
$red-color-light: rgba(232, 48, 48, 0.6);
$green-color-light: #0bd11f;
$green-color-dark: rgba(42, 77, 20, 0.81);

/* font size */

$font-ultra-small: 1em;
$font-small: 1.5em;
$font-normal: 2em;
$font-big: 3em;
$font-huge: 5em;

/* margins & padding */

$margin-small: .5em 1em;
$margin-normal: .8em 2em;
$margin-big: 1em 2em;
$margin-huge: 2em 4em;

$margin-left-small: 1em;
$margin-left-big: 2em;

$margin-right-small: 1em;
$margin-right-big: 2em;

$margin-top-small: 1em;
$margin-top-normal: 3em;
$margin-top-big: 5em;

$margin-bottom-small: 1em;
$margin-bottom-normal: 3em;
$margin-bottom-big: 5em;


$padding-small: .5em 1em;
$padding-normal: .8em 2em;
$padding-big: 1em 3em;
$padding-huge: 2em 6em;

$padding-left-small: 1em;
$padding-left-big: 2em;

$padding-right-small: 1em;
$padding-right-big: 2em;

$padding-top-small: 1em;
$padding-top-normal: 3em;
$padding-top-big: 5em;

$padding-bottom-small: 1em;
$padding-bottom-normal: 3em;
$padding-bottom-big: 5em;