.loader {
    width: 70px;
    position: absolute;
    top: 10rem;
    /*change the top and the left to put it wherever you want!*/
    height: 70px;
    overflow: hidden;

    &__ring {
        width: 100%;
        height: 100%;
        border: 5px solid $background-color;
        border-top: 5px solid $blue-color-light;
        border-radius: 50%;
        animation: ring 1s ease-in-out infinite;
    }
}

@keyframes ring {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
